.calendar-grid {
  margin: 10px;
}

.calendar-grid-container {
  width: 100vw;
  border: 0.5px solid #e2e2e2;
}

.event-column {
  position: relative;
}

/* Hijacking the style from EventCard to make it whatever we want */
.event-card {
  max-height: 100%;
}