@import "../../theme";

.event-workshop {
  background: $color-event-primary;
  border: 1px solid darken($color-event-primary, 10%);
}
.event-tech_talk {
  background: $color-event-secondary;
  border: 1px solid darken($color-event-secondary, 10%);
}
.event-activity {
  background: $color-event-tertiary;
  border: 1px solid darken($color-event-tertiary, 10%);
}

.absolute-wrapper {
  position: absolute;
}

.event-wrapper {
  padding: 5px;
}

.event-card {
  display: block;
  padding: 15px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 0;
  margin-right: 0;
  color: $color-primary;
  font-weight: 400;
  /* This is important so that I can position the child login element with absolute. */
  position: relative;

  p {
    margin: 0;
    margin-right: "5px";
    font-size: 1rem;
    .time-str {
      font-size: 1rem;
      padding-left: 0.3rem;
    }
  }
  
  p.description {
    font-size: 0.7rem;
  }

  .speakers-list {
    margin-top: -8px;
    p {
      display: inline-block;
      font-size: 0.8rem;
    }
  }

  .related-events {
    p, a {
      font-size: 0.7rem;
    }
    ul {
      list-style-type: none;
      padding-left: 1rem;

      li {
        position: relative;
        height: 0.7rem;
        a {
          text-decoration: none;
          position: absolute;
          top: 0;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  min-height: 200px;
}

.table-wrapper {
  margin: auto;
  padding-left: 0;
  max-width: 800px;
}

.login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 5px;
  }

  .card {
    background: white;
    border-radius: 10px;
    display: inline-block;
    padding: 35px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.watch-card {
  margin-bottom: 5px;
  float: left;
  margin-right: 5px;
  background: white;
  border-radius: 5px;
  border: 0px;
}