$color-primary: #08415C;
$color-secondary: #EEE5E9;

$color-event-primary: #bddea8;
$color-event-secondary: #9fe3ff;
$color-event-tertiary: #e48b9f;

body {
  background: $color-secondary;
  font-size: 1.3rem;
  font-family: Arial,sans-serif;
}

.event-workshop {
  background: $color-event-primary;
}
.event-tech_talk {
  background: $color-event-secondary;
}
.event-activity {
  background: $color-event-tertiary;
}

.event-card {
  display: block;
  padding: 20px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 0;
  margin-right: 0;
  color: $color-primary;
  font-weight: 400;

  p {
    margin: 0;
    margin-right: "5px";
    .time-str {
      font-size: 0.8rem;
      padding-left: 0.3rem;
    }
  }
  
  p.description {
    font-size: 0.9rem;
  }

  .speakers-list {
    margin-top: -8px;
    p {
      display: inline-block;
      font-size: 0.9rem;
    }
  }
}

.table-wrapper {
  margin: auto;
  padding-left: 0;
  max-width: 800px;
}

#shuffle {
  /* This is pretty hackey */
  margin-top: -20px;
}