$color-primary: #08415C;
$color-secondary: #EEE5E9;

$color-event-primary: #bddea8;
$color-event-secondary: #9fe3ff;
$color-event-tertiary: #e48b9f;

body {
  background: $color-secondary;
  font-size: 1.3rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.event-workshop {
  background: $color-event-primary;
}
.event-tech_talk {
  background: $color-event-secondary;
}
.event-activity {
  background: $color-event-tertiary;
}

.event-card {
  display: block;
  padding: 20px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 0;
  margin-right: 0;
  color: $color-primary;
  font-weight: 400;
  /* This is important so that I can position the child login element with absolute. */
  position: relative;

  p {
    margin: 0;
    margin-right: "5px";
    .time-str {
      font-size: 0.8rem;
      padding-left: 0.3rem;
    }
  }
  
  p.description {
    font-size: 0.9rem;
  }

  .speakers-list {
    margin-top: -8px;
    p {
      display: inline-block;
      font-size: 0.9rem;
    }
  }
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  min-height: 200px;
}

.table-wrapper {
  margin: auto;
  padding-left: 0;
  max-width: 800px;
}

.login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 5px;
  }

  .card {
    background: white;
    border-radius: 10px;
    display: inline-block;
    padding: 35px;
    padding-left: 40px;
    padding-right: 40px;

    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      background: #08415C;
    }
  }
}